

            /*------------header-------------*/
.navbar a{
	color:black;
	font-size:17px;
	font-weight:600;
	
}
.header{
	position:fixed;
	width:100%;
	background-color:white;
	z-index:3;
}


 .navbar-light .navbar-nav .nav-link:hover {
    color:#e03a3c;
}
.dropdown-menu a:hover{
	color:#e03a3c;
}
			 /*------------header end-------------*/
			 
			 
			  /*------------bg-img start-------------*/
			  
	.bg-img{
		
	background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("img/hero-bg.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	
}

.bg-content{
	padding:130px 0;
	font-family: 'Raleway', sans-serif;

}

.bg-content h1{
	font-size:50px;
	font-weight:bold;
}
.bg-content p{
	font-size:25px;
	
}
.bg-content button:hover{
	background-color:transparent;
	border:1px solid #fff;
}

				 /*------------bg-img end-------------*/
				 
				 
				 
				  /*------------beand-list start-------------*/
				  
		
	.icon{
	padding:50px 0;
	font-family:"raleway" ,sans-serif;
}	  

.icon-list{
	padding: 10px 30px;
  }
.icon-list img {
	width:100%;
	height:auto 0;
	filter:grayscale(100%);
	opacity:0.5;
}	  
.icon-list:hover  img{
	  filter: grayscale(0%);
	  opacity: 1;
  }
  
  .circle{
	 text-align: center;
	 padding: 20px 0;
  }
  .circle span{
	  display: inline-block;
	  width: 12px;
	  height: 12px;
	  border:  1px solid red;
	  background-color: #fff;
	  opacity: 0.8;
	  border-radius: 50%;
	  margin: 0 3px;
	  cursor: pointer;
  }
  .circle span:hover{
	  background-color: red;
  }
  .circle span.active{
	   background-color:red;
  }
				  
				  
				  
				  
				   /*------------brand-list end-------------*/
				   
				   
				   /*------------about start-------------*/
				   .about{
					   position:relative;
					   padding:50px 0;
					   font-family:"raleway" ,sans-serif;
					  
				   }
				   .about:after{
					   content:"";
					   position:absolute;
					   height:100%;
					   width:100%;
					   left:0;
					   top:0;
					   background:black;
					   transform:skewY(-3deg);
					   z-index:-1;
				   }
				   .about-itm{
					   
					   height:;
					   background-color:
					   
				   }
				   .about-icon h5{
					  font-weight:bold;
					  color:white;
				   }
				   .about-icon p{
					 
					  color:gray;
				   }
				   .about-itm h2{
					  font-weight:bold;
				   }
				   .about-itm button iconify-icon{
					   vertical-align: sub;
				   }
				  
				   
				   
				   /*------------about end------------*/
				   
				   
				   /*----number start--------------*/
				   .number{
					   background-color:;
					   padding:50px 0;
				   }
				   .num-icon h1{
					   font-weight:bold;
				   }
				   
				   
				    /*----number end--------------*/
					
					
					/*----modi start--------------*/
				   .modi{
					   background-color:;
					   padding:50px 0;
					   font-family:"raleway" ,sans-serif;
				   }
				  .nav-item iconify-icon{
						font-size:50px;
					}
				   
				   
				   .abt-tab{
					   border:none;
				   }
				   .abt-tab .nav-item{
					   width:25%;
					   flex:0 0 auto;
				   }
				    .abt-tab .nav-item .nav-link{
						border:solid 1px #ccc;
						margin:0 15px;
						color:black;
						font-size:22px;
						display:flex;
						justify-content:flex-start;
						align-items:flex-start;
						padding:20px;
					}
					.abt-tab .nav-item .nav-link:hover{
						color:#e03a3c;
					
					}
					.abt-tab .nav-item  .nav-link span{
						line-height:20px;
						font-size:20px;
					}
					
					.tab-pane{
						padding-top:20px;
					}
					.abt-tab .nav-item .nav-link.active{
						background:#e03a3c;
						color:white;
						border-color:#e03a3c;
					}
				    .tab-pane ul {
						color:gray;
					}
					.tab-pane p {
						color:gray;
					}
					.tab-pane ul{
						list-style:none;
						padding-left:5px;
					}
				   
				    /*----modi end--------------*/
					
					
					/*----services start--------------*/
				   .services{
					   position:relative;
					   height:px;
					   padding:50px 0;
					   font-family:"raleway" ,sans-serif;
				   }
				   .services:after{
					   content:"";
					   position:absolute;
					   height:100%;
					   width:100%;
					   left:0;
					   top:0;
					   background-color:black;
					   transform:skewY(-3deg);
					   z-index:-1;
				   }
				   .sec-title{
					   
					   height:100px;
					   background-color:;
				   }
				   
				   .sec-icon{
					   display:flex;
					   background-color:#2b2b2b;
					   border-radius:10px;
					   padding:30px;
				   }
				   
				   
				   
				    /*----services end--------------*/
					
					
					
					/*----portfolio start--------------*/
				   .portfolio{
					   background-color:;
						font-family:"raleway" ,sans-serif;
					   padding:50px 0;
				   }
				   .port-title{
					   
					   height:;
					   background-color:;
				   }
				   
				   .port-img img{
					   margin-top:30px;
					   width:100%;
				   }
				   .cont-title button:hover{
					 background-color:#dc3545;
					 color:white;
				   }
				     .folio-items{
				  position:relative;
				  overflow:hidden;
			  }
			  .folio-items img{
				  transition: all ease-in-out 0.3s;
			  }
			  .folio-items::before{
				  content: "";
			  background: rgba(17, 17, 17, 0.6);
			  position: absolute;
			  left: 0;
			  right: 0;
			  top: 0;
			  bottom: 0;
			  transition: all ease-in-out 0.3s;
			  z-index: 2;
			  opacity: 0;
			  }
			  .mirror{
				position: absolute;
				opacity: 0;
				bottom: 20px;
				margin: 25px;
				transform: translateY(20px);
				z-index:3;
			}
				 .foliobox1{
				padding-bottom: 25px;
				 }
				.foliobox1 h2{
				color:#fff;
				font-size: 23px;
				padding-top: 15px;
				line-height: 25px;
				font-family: "Raleway ", sans-serif;
			   }
			   .foliobox1 p{
				   color:#d5c5c5ed;
				 font-size: 16px;
				 font-family:italic;
			   }
			  .foliobox-icon iconify-icon{
				   
				  margin-left:5px;
				 padding:0 3px;
				 font-size:20px;
			  } 
			  .mirror .foliobox-icon a{
				   color:#d5c5c5ed;
				
			  } 
			   .mirror .foliobox-icon a:hover{
				   color:white;
				
			  } 
			  .foliobox-icon{
				position: absolute;
				bottom: 5px;
				opacity: 1;
				display: flex;
				left: -11px;
				}
				.folio-items:hover .mirror{
					opacity:1;
				}
				.folio-items:hover::before{
					opacity:1;
				}
				.folio-items:hover img{
					transform:scale(1.2);
				}
							   
							   
				   
				    /*----portfolio end--------------*/	
					
					
					
					
					/*---TESTIMONIALS start--------------*/
				   .TESTIMONIALS{
					   background-color:;
					   font-family:"raleway" ,sans-serif;
					   padding:50px 0;
				   }
				   .test-title{
					   
					   height:;
					   background-color:;
				   }
				   
				   .test-img{
					   height:;
					   background-color:;
				   }
				   .card {
					   border:0;
					   border-radius:10px;
				   }
				   .carousel-indicators [data-bs-target]{
					   background-color:red;
					   transform:translateY(70px);
					   height:15px;
					   width:15px;
					   border-radius:50%;
				   }
				   .carousel-inner{
					   padding:30px 20px;
					   
				   }
				   
				    /*----TESTIMONIALS end--------------*/	
					
					
						/*---pricing start--------------*/
				   .pricing{
					   position:relative;
					   
					   padding:50px 0;
				   }
				   
				   .pricing:after{
					   content:"";
					   position:absolute;
					   height:100%;
					   width:100%;
					   left:0;
					   top:0;
					   background-color:black;
					   transform:skewY(-3deg);
					   z-index:-1;
				   }
				   .pric-title{
					   
					   height:;
					   background-color:;
				   }
				   
				   .pric-img{
					   height:;
					   background-color:#2b2b2b;
					   border-radius:10px;
				   }
				   
				   .pric1-img{
					   height:;
					   background-color:#e03a3c;
					    border-radius:10px;
				   }
				   .pric-img button{
					   color:white;
					   font-family:"raleway" ,sans-serif;
					   border:#2b2b2;
					   
				   }
				   .pric1-img button{
					   color:white;
					   font-family:"raleway" ,sans-serif;
					   
				   }
				   .pric1-img button:hover{
					   background-color:#e03a3c;
					   color:white;
				   }
				   .pric-img button:hover{
					   background:#2b2b2b;
					   color:white;
				   }
				   .pric-img .head-tit{
					   font-size:20px;
				   }
				   .pric1-img .head-tit{
					   font-size:20px;
				   }
				   .btn-outline-light {
						color: #f8f9fa;
						border-color: #808080a6;
					}
				   
				   
				   
				    /*----price end--------------*/	
					
					
					
						/*---qustion start--------------*/
				   .qustion{
					   background-color:;
					   height:x;
					   padding:50px 0;
					   font-family:"raleway" ,sans-serif;
				   }
				   .qust-title{
					   
					   height:px;
					   background-color:;
				   }
				   
				   .qust-con{
					   height:;
					   background-color:;
				   }
				   .accordion-item h2 button:hover{
				     color:#e03a3c;
				   }
				  .accordion-button:focus{
					  box-shadow: none;
				  } 
				   .accordion-header{
					   background-color: none;
				   }
				   .accordion-button:not(.collapsed){
					   background-color: white;
					  box-shadow:none;
						color: red;
						
				   }
				   .accordion-header button{
					   font-size:20px;
				   }
				    /*----qustnoneion end--------------*/	
					
					
					/*---team start--------------*/
				   .team{
					   font-family:"raleway" ,sans-serif;
					 position:relative;
					   
					   padding:50px 0;
				   }
				   
				   .team:after{
					   content:"";
					   position:absolute;
					   height:100%;
					   width:100%;
					   left:0;
					   top:0;
					   background-color:black;
					   transform:skewY(-3deg);
					   z-index:-1;
				   }
				   .team-title{
					   
					   height:;
					   background-color:;
				   }
				   
				   .team-img:hover .icon-team{
					   opacity:1;
					   transform:translateY(0);
					   
				   }
				   
				   .card-body p{
					   color:#999;
				   
				   }
				   
				   .icon-team{
					   text-align:center;
					   bottom:100px;
					   right:0;
					   left:0;
					   opacity:0;
					   font-size:23px;
					   width:100%;
					   padding:20px 0;
					   bottom:100px;
					   position:absolute;
					   transform:translateY(-20px);
					   transition:all 0.5s ease;
				   }
				   .icon-team iconify-icon{
					   border:solid 1px none;
					   background:#e03a3c;
					   border-radius:50px;
					   padding:5px;
				   }
				   .icon-team iconify-icon:hover{
					   background-color:black;
				   }
				   . {
					   
				   }
				   
				    /*----team end--------------*/	
					
					
					/*---contact start--------------*/
				   .contact{
					   background-color:;
					   font-family:"raleway" ,sans-serif;
					   padding:50px 0;
				   }
				   .cont-title h1{
					   position:relative;
					   padding:20px 0;
					  
					   
				   }
				   
				   .cont-title p{
					   padding:20px 0;
				   }
				    .cont-title h1:after{
						 content:"";
					   position:absolute;
					   border:2px solid #e03a3c;
					   width: 50px;
					   bottom: 0;
					   right: 48%;
					 
				   }
				   
				   .address iconify-icon{
					  border:dotted 2px #e03a3c;
					   border-radius:25px;
					   padding:5px;
				   }
				   
				   .address-1{
					   height:;
					   background-color:;
				   }
				   
				   .address-2{
					   height:;
					   background-color:;
				   }
				   
				   .address-3{
					   height:;
					   background-color:;
				   }
				   .address{
					   color:#444444;
				   }
				   .address h5{
					   font-weight:bold;
				   }
				   
				    /*----contact end--------------*/	
					
					
					/*---Presento start--------------*/
				   .Presento{
					   background-color:#2b2b2b;
					   padding:50px 0;
					   font-family:"raleway" ,sans-serif;
				   }
				   
				   
				   .pres-list{
					   height:
					   background-color:
				   }
				   .pres-list a{
					   color:#999;
					   text-decoration:none;
				   }
				   
				   .base1 p:hover{
					   color:white;
					   
				   }
				   .base1 p iconify-icon{
					   vertical-align: sub;
				   }
				   .out-side{
					border: 2px solid white;
					border-radius:5px;
					background: #fff;
					padding: 1px;
					width: 90%;
					position: absolute;
					}
					.subscribe{
						position: relative;
					}
					.sub{
					position: absolute;
					transform: translateY(-3px);
					border-radius:5px;
					background-color:#e03a3c;
					text-align: center;
					font-size: 16px;
					color: #fff;
					height:33px;
					border: 1px solid #e03a3c ;
					line-height: 30px;
					padding: 0px 24px;
					cursor: pointer;
					}
					.out-side input{
						border:0;
					}
					   
				    /*----Presento end--------------*/	
					
					/*---Presento start--------------*/
				   .end{
					   background-color:black;
					   height:px;
					   font-family:"raleway" ,sans-serif;
				   }
				   .end-list{
					   justify-content:space-between;
				   }
				   
				  .end-list iconify-icon{
					   border:solid 1px none;
					   background:#2b2b2b;
					   border-radius:4px;
					   padding:5px;
				   }
				   .end-list iconify-icon:hover{
					   background-color:#e03a3c ;
				   }
				    .pres-list h4{
					   position:relative;
					   padding:10px 0;
					  
					   
				   }
				    .pres-list h4:after{
						 content:"";
					   position:absolute;
					   border:1px solid #e03a3c;
					   width: 30px;
					   bottom: 0;
					   left:1%;
					   margin-top:20px 0;
				   }
				   .end-list p a{
					   color:#e03a3c ;
					   text-decoration:none;
				   }
				   
				    /*----Presento end--------------*/	
