@media (max-width:768px){
	
	.bg-content h1{
	font-size:30px;
	
}

.nav-item iconify-icon{
	font-size:20px;
	margin:0 auto;
}
.cont-title h1{
		  position:relative;
		  padding:20px 0;
					  
					   
	 }
	 .cont-title h1:after{
						 content:"";
					   position:absolute;
					   border:2px solid #e03a3c;
					   width: 50px;
					   bottom: 0;
					   right: 43%;
					   margin-top:20px 0;
				   }
				   .end{
					   text-align:center
				   }
}
